<?php

use core\Core;
use core\classes\Template;

$actor = Core::$_actor;
$menu = Core::$_menu;

$view = $this->get("view");
$view_content = "";
if( $view instanceof Template ) {
	$view_content = $view->parse();
}
?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><?= $this->get("title") ?? "Home" ?></title>
	<link rel="stylesheet" href="<?= PATH_SRC ?>bootstrap-5.0.2/css/bootstrap.min.css" />
	<link rel="stylesheet" href="<?= PATH_CSS ?>main.css" />
	<link rel="stylesheet" href="<?= PATH_CSS ?>navigation.css" />
	<link rel="stylesheet" href="<?= PATH_CSS ?>forms.css" />
	<script src="<?= PATH_SRC ?>bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>
	<script src="<?= PATH_SRC ?>jquery/jquery-3.6.0.min.js"></script>
	<script src="<?= PATH_JS ?>main.js"></script>
</head>
<body>
<header>
	<nav id="navigation">
		<?= $menu->getAsHtml() ?>
		<div id="actor-menu">
			<div class="has-children">
				<span onclick="$('#actor-menu-dropdown').toggle();"
				      class="button "><?= ( $actor->id > 0 ) ? $actor->first_name." ".$actor->last_name : "Profile" ?></span>
			</div>
			<div id="actor-menu-dropdown" style="">
				<form action="<?= $_SERVER["REQUEST_URI"] ?>" method="POST">
					<?php if( $actor->id === 0 ): ?>
						<div class="form-row">
							<label>
								<input type="email" name="email" value="" placeholder="E-Mail" />
							</label>
						</div>
						<div class="form-row">
							<label>
								<input type="password" name="password" value="" placeholder="Password" />
							</label>
						</div>
						<div class="form-row">
							<button type="submit" name="login">Login</button>
						</div>
					<?php else: ?>
						<div class="form-row">
							<button type="submit" name="logout">Logout</button>
						</div>
					<?php endif; ?>
				</form>
			</div>
		</div>
		<div class="cleaner"></div>
	</nav>
</header>
<main><?= $view_content ?></main>
<footer></footer>
</body>
</html>