<?php

use lib\App;
use lib\core\classes\TemplateData;

TemplateData::set("title", "Home");
ob_start();
phpinfo(INFO_GENERAL | INFO_MODULES);
$html = ob_get_clean();
ob_end_clean();
?>
<div class="container-fluid">
    <h1>Welcome!</h1>
	<?php if( App::$curr_actor->isDeveloper() ) { ?>
        <iframe id="php_info" width="100%" sandbox="allow-same-origin" srcdoc="<?= htmlspecialchars($html) ?>"></iframe>
        <script>
            $(function () {
                let iFrame = $("#php_info");
                console.log(iFrame.contents().height());
                iFrame.height(iFrame.contents().height());
            });
        </script>
	<?php } ?>
</div>
