@font-face {
    font-family: "Comfortaa";
    src: url("../../fonts/Comfortaa-Regular.ttf") format("truetype")
}

@font-face {
    font-family: "Comfortaa-Light";
    src: url("../../fonts/Comfortaa-Light.ttf") format("truetype")
}

@font-face {
    font-family: "Comfortaa-Bold";
    src: url("../../fonts/Comfortaa-Bold.ttf") format("truetype")
}

@font-face {
    font-family: "FiraCode";
    src: url("../../fonts/FiraCode-Regular.ttf") format("truetype")
}

@font-face {
    font-family: "FiraCode-Light";
    src: url("../../fonts/FiraCode-Light.ttf") format("truetype")
}

@font-face {
    font-family: "FiraCode-Bold";
    src: url("../../fonts/FiraCode-Bold.ttf") format("truetype")
}

{
    box-sizing: border-box;
}

html {
    min-width: 758px !important;
}

body {
    background-color: #111;
    color: #ccc;
    margin-bottom: 40px;
    font-family: Comfortaa, sans-serif;
    font-size: 0.9em;
}

main {
    padding: 20px 10px;
}

footer {
    position: fixed;
    z-index: 999;
    width: 100%;
    bottom: 0px;
    padding: 10px;
    font-size: 0.8em;
    border-top: 1px solid #555;
    color: #1cb5f1;
    background: linear-gradient(to bottom, #444, #111);
}

h1 {
    font-size: 1.6em;
    padding: 10px 15px;
}

h2 {
    font-size: 1.4em;
    padding: 10px 15px;
}

.content-block {
    padding: 20px;
    background-color: #2c2c2c;
    border-radius: 8px;
}

a,
a:visited,
a:hover {
    color: #ccc;
    text-decoration: none;
}

a.button {
    padding: 6px 15px 7px 15px;
}

.button,
.button-positiv,
.button-negativ {
    font-family: Comfortaa, Helvetica, sans-serif;
    font-size: 0.9em;
    padding: 4px 15px;
    color: #ccc;
    border: 1px solid #555;
    border-radius: 4px;
}

.button:disabled,
.button-positiv:disabled,
.button-negativ:disabled {
    color: #7d7d7d !important;
}

.button-default {
    background: linear-gradient(to bottom, #444, #111);
}

.button-default:hover {
    background: linear-gradient(to bottom, #111, #444);
}

.button-positiv {
    background: linear-gradient(to bottom, #47633d, #17330d);
}

.button-positiv:hover {
    background: linear-gradient(to bottom, #17330d, #47633d);
}

.button-negativ {
    background: linear-gradient(to bottom, #642a2a, #340a0a);
}

.button-negativ:hover {
    background: linear-gradient(to bottom, #340a0a, #642a2a);
}

.slide-down {
    position: relative;
    content: '';
    top: 50%;
    width: 0;
    height: 0;
    border-color: #999999;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
}

.slide-up {
    position: relative;
    content: '';
    top: 50%;
    width: 0;
    height: 0;
    border-color: #999999;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid;
}

.cleaner {
    clear: both;
    width: 0;
    height: 0;
    overflow: hidden;
}

.hl {
    color: #1cb5f1;
}
