html {
    min-width: 758px !important;
}

body {
    background-color: #383838;
    color: #ccc;
}

table {

}

table tbody {

}

table tr.table-row {

}

table th.table-col {
    padding: 5px 10px;
}

table td.table-col {
    padding: 5px 30px 5px 10px;
}

table td.table-col:last-child {
    padding: 5px 10px 5px 10px;
}

.cleaner {
    clear: both;
    width: 0;
    height: 0;
    overflow: hidden;
}