.pagination {
    width: fit-content;
    margin: 0 auto;
}

.list-group-item.active {
    background: linear-gradient(to bottom, #3b3b3b , #151515);
    border-color: #666666;
    text-transform: uppercase;
}

.list-group-item {
    color: #ccc;
    background-color: #222;
    border-bottom-color: #666666;
}

.modal-content {
    background-color: #222;
    border: 1px solid #666;
}
