<?php

use lib\classes\Template;
use lib\core\System;

$actor = System::$Core->actor;
$actor_role = System::$Core->actor_role;

$view = $this->get("view");
$view_content = ( $view instanceof Template) ? $view->parse() : $view;
?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><?= $this->get("title") ?? "Home" ?></title>
	<link rel="stylesheet" href="<?= PATH_SRC ?>bootstrap-5.2.2/css/bootstrap.min.css" />
	<link rel="stylesheet" href="<?= PATH_CSS ?>main.css" />
	<link rel="stylesheet" href="<?= PATH_CSS ?>navigation.css" />
	<link rel="stylesheet" href="<?= PATH_CSS ?>forms.css" />
	<link rel="stylesheet" href="<?= PATH_CSS ?>tables.css" />
	<?php foreach( $this->getHeaderCss() as $css_file ) { ?>
		<link rel="stylesheet" href="<?= $css_file ?>" />
	<?php } ?>
	<script src="<?= PATH_SRC ?>bootstrap-5.2.2/js/bootstrap.bundle.min.js"></script>
	<script src="<?= PATH_SRC ?>jquery/jquery-3.6.0.min.js"></script>
    <script src="<?= PATH_SRC ?>tinymce/tinymce.min.js"></script>
	<?php foreach( $this->getHeaderScripts() as $script_file => $async ) { ?>
		<?php if ( $async ) { ?>
			<script async src="<?= $script_file ?>"></script>
		<?php } else { ?>
			<script src="<?= $script_file ?>"></script>
		<?php } ?>
	<?php } ?>
</head>
<body>
	<header>
		<nav id="navigation">
            <?php include(PATH_VIEWS . "main_menu.html") ?>
			<div id="actor-menu">
				<div class="has-children">
					<span onclick="$('#actor-menu-dropdown').toggle();" class="menu-item"><?= ( $actor->id > 0 ) ? $actor->first_name." ".$actor->last_name : "Profile" ?></span>
				</div>
				<div id="actor-menu-dropdown" style="">
					<menu>
						<?php if( $actor->id === 0 ): ?>
							<li>
								<form action="<?= $_SERVER["REQUEST_URI"] ?>" method="POST">
									<div class="form-row">
										<label>
											<input type="email" name="email" value="" placeholder="E-Mail" />
										</label>
									</div>
									<div class="form-row">
										<label>
											<input type="password" name="password" value="" placeholder="Password" autocomplete="new-password" />
										</label>
									</div>
									<?php if( System::$Core->configuration->getSectionValue("security", "permanent_login") ) { ?>
										<div class="form-row form-check">
											<input id="perma_login" class="form-check-input" type="checkbox" name="permanent_login" value="yes" />
											<label for="perma_login" class="form-check-label font-monospace">eingeloggt bleiben?</label>
										</div>
									<?php } ?>
									<div><a href="" class="font-monospace">Passwort vergessen?</a></div>
									<div class="form-row">
										<button type="submit" name="login">Login</button>
									</div>
								</form>
							</li>
						<?php else: ?>
							<?php if( System::$Core->auth->hasAccessTo(controller\admin\HomeController::class, "index", "admin") ) { ?>
								<li>
									<a href="https://admin.harmonix.de">Admin-Bereich</a>
								</li>
							<?php } ?>
							<li>
								<form action="<?= $_SERVER["REQUEST_URI"] ?>" method="POST">
									<button type="submit" name="logout" class="link">Logout</button>
								</form>
							</li>
						<?php endif; ?>
					</menu>
				</div>
			</div>
			<div class="cleaner"></div>
		</nav>
	</header>
	<main><?= $view_content ?></main>
	<?php if( System::$Storage::get("debug_mode") ) {
		$debug = new Template(PATH_VIEWS_ROOT."snippets/debug.html");
		$debug_content = $debug->parse();
		echo $debug_content;
		?>
		<div id="debug_infos">
			<?= $debug_content ?>
		</div>
	<?php } ?>
	<footer>
		<div class="row text-end" style="margin: 0;">
			<div class="col"></div>
			<div class="col-3">Harmonix by: <?= escaped_html(AUTHOR) ?> version: <?= escaped_html(MVC_VERSION) ?></div>
			<div class="col-1">Cached: {{is_cached}}</div>
			<div class="col-1">build in: {{build_time}}</div>
		</div>
		<div class="cleaner"></div>
	</footer>
</body>
<?php foreach( $this->getFooterScripts() as $script_file => $async ) { ?>
	<?php if ( $async ) { ?>
		<script async src="<?= $script_file ?>"></script>
	<?php } else { ?>
		<script src="<?= $script_file ?>"></script>
	<?php } ?>
<?php } ?>
</html>
