<?php

use core\Core;
use core\classes\Template;

$actor = Core::$_actor;
$menu = Core::$_menu;

$view = $this->get("view");
$view_content = "";
if( $view instanceof Template ) {
	$view_content = $view->parse();
}
?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><?= $this->get("title") ?? "Home" ?></title>
	<link rel="stylesheet" href="<?= PATH_SRC ?>bootstrap-5.0.2/css/bootstrap.min.css" />
	<link rel="stylesheet" href="<?= PATH_CSS ?>main.css" />
	<link rel="stylesheet" href="<?= PATH_CSS ?>navigation.css" />
	<link rel="stylesheet" href="<?= PATH_CSS ?>forms.css" />
	<link rel="stylesheet" href="<?= PATH_CSS ?>tables.css" />
	<script src="<?= PATH_SRC ?>bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>
	<script src="<?= PATH_SRC ?>jquery/jquery-3.6.0.min.js"></script>
	<script src="<?= PATH_JS ?>main.js"></script>
</head>
<body>
<header>
	<div class="row">
		<div class="col-md">&nbsp;</div>
		<div class="col-md-4">
			<?php if( $actor->id === 0 ): ?>
				<form action="<?= $_SERVER["REQUEST_URI"] ?>" method="POST">
					<div class="row g-3">
						<div class="col-auto"><label>
								<input type="email" name="email" value="" placeholder="E-Mail"
								       class="form-control" />
							</label></div>
						<div class="col-auto"><label>
								<input type="password" name="password" value="" placeholder="Password"
								       class="form-control" />
							</label></div>
						<div class="col-auto">
							<button type="submit" name="login" class="btn btn-primary">Login</button>
						</div>
					</div>
				</form>
			<?php else: ?>
				<form action="<?= $_SERVER["REQUEST_URI"] ?>" method="POST">
					<div class="row g-3">
						<div class="col-auto">
							<div class="col-form-label"><?= escaped_html($actor->first_name." ".$actor->last_name) ?></div>
						</div>
						<div class="col-auto">
							<div class="col-form-label"><?= escaped_html($actor->email) ?></div>
						</div>
						<div class="col-auto">
							<button type="submit" name="logout" class="btn btn-primary">Logout</button>
						</div>
					</div>
				</form>
			<?php endif; ?>
		</div>
	</div>
</header>
<main><?= $view_content ?></main>
<footer></footer>
</body>
</html>