<?php

use lib\App;

$debug_messages = App::$storage->get("debug");
if( is_array($debug_messages) ) {
	foreach( $debug_messages as $msg ) {
		print_debug($msg);
	}
}

$analyser_entries = App::$analyser->getEntries();
?>
<div class="container-fluid">
    <table class="table table-dark table-striped">
        <tr>
            <th>Label</th>
            <th>Backtrace</th>
            <th>Needed Time</th>
        </tr>
		<?php foreach( $analyser_entries as $entry ): ?>
            <tr>
                <td><?= $entry["info"] ?></td>
                <td>
					<?php foreach( $entry["backtrace"] as $trace ): ?>
                        <div><?= ($trace["class"] ?? '') . "->" . $trace["function"] ?></div>
					<?php endforeach; ?>
                </td>
                <td class="col-1"><?= $entry["time"] ?></td>
            </tr>
		<?php endforeach; ?>
    </table>
</div>


