<?php
use lib\App;

$debug_messages = App::$storage->get("debug");
if( is_array($debug_messages) ) {
	foreach($debug_messages as $msg) {
		print_debug($msg);
	}
}
?>
<div class="container-fluid">
    <table class="table table-dark table-striped">
        <tr>
            <th>Label</th>
            <th>Backtrace</th>
            <th>Needed Time</th>
        </tr>
        <?php foreach(App::$analyser->getTimers() as $timer) {
            if( $timer->getLabel() === "total" ) continue;
            $elapsed_time = $timer->getElapsedTime();
            $elapsed_time = round($elapsed_time * 1000, 2);
            $backtrace = $timer->getTrace();
            ?>
            <tr>
                <td><?= $timer->getLabel() ?></td>
                <td>
                    <?php
                    //foreach($backtrace as $trace) {
                    //    echo ($trace["class"]??'')."->".$trace["function"]."<br />";
                    //}
                    ?>
                </td>
                <td class="col-1"><?= $elapsed_time ?>ms</td>
            </tr>
        <?php } ?>
    </table>
</div>


