<?php

use lib\App;
use lib\core\classes\Language;
use lib\helper\HtmlHelper;

$lang = App::getInstanceOf(Language::class);
$this->set("title", "Benutzer");
$actor_list = $this->get("actor_list");
$pagination = $this->get("pagination");
?>
<div class="container-fluid">
	<form action="/actors/search" method="POST">
        <?= HtmlHelper::generateFormToken() ?>
		<div class="row">
			<div class="col text-end pt-2">Suchbegriff</div>
			<div class="col-3"><input type="text" name="search_string" value="" /></div>
			<div class="col-auto"><input type="submit" name="" value="<?= $lang->getValue("translations","search") ?>" class="button button-default" /></div>
		</div>
	</form>
	<h1>Benutzer</h1>
	<table class="table table-dark table-striped">
		<tr>
			<th>ID</th>
			<th class="col-md-2">E-Mail</th>
			<th>Vorname</th>
			<th>Nachname</th>
			<th class="col-md-3 text-end">Optionen</th>
		</tr>
		<?php foreach( $actor_list as $actor ):
			$row_class = ( $actor->deleted === NULL ) ? '' : ' style="color: #cc3737; text-decoration: line-through;"'
			?>
			<tr>
				<td<?= $row_class ?>><?= escaped_string($actor->id) ?></td>
				<td<?= $row_class ?>><?= escaped_string($actor->email) ?></td>
				<td<?= $row_class ?>><?= escaped_string($actor->first_name) ?></td>
				<td<?= $row_class ?>><?= escaped_string($actor->last_name) ?></td>
				<td class="text-nowrap text-end">
					<form action="https://www.harmonix.de" target="_blank" method="POST" class="minimized">
						<input type="hidden" name="actor_id" value="<?= $actor->id ?>" />
						<button type="submit" name="login_as" class="button button-default"><?= $lang->getValue("phrases", "login_as") ?></button>
					</form>
					<a href="/actors/roles/<?= $actor->id ?>" class="button button-default"><?= $lang->getValue("translations", "roles") ?></a>
					<a href="/actors/<?= $actor->id ?>" class="button button-default"><?= $lang->getValue("translations", "edit") ?></a>
					<button class="button button-negativ" onclick="$('#delete-target').attr('href', '/actors/delete/<?= $actor->id ?>')" data-bs-toggle="modal" data-bs-target="#confirm-delete"><?= $lang->getValue("translations", "delete") ?></button>
				</td>
			</tr>
		<?php endforeach; ?>
	</table>
	<form action="/actors" method="POST" style="padding-bottom: 15px;">
        <?= HtmlHelper::generateFormToken() ?>
		<?= $pagination ?>
	</form>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Achtung!!!</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Sind Sie sicher, das Sie diesen Eintrag löschen wollen?
			</div>
			<div class="modal-footer">
				<button type="button" class="button button-default" data-bs-dismiss="modal">Close</button>
				<a id="delete-target" href="" class="button button-negativ">Löschen</a>
			</div>
		</div>
	</div>
</div>

