<?php
use system\Core;
use system\classes\Template;

$actor = $this->get("actor");
$snippet = new Template(PATH_VIEWS."snippets/access_permission.html");
?>
<div class="container-fluid">
	<h1>Benutzer Rollen</h1>
	<form action="/actors/roles/<?= $actor->id ?>" method="POST" class="needs-validation" style="width: 80%;" novalidate>
		<?= $snippet->parse() ?>
		<div class="row clearfix">
			<div class="col-md">
				<button type="submit" name="cancel" class="button button-default float-start"><?= Core::$_lang->getValue("translations", "cancel") ?></button>
			</div>
			<div class="col-md">
				<button type="submit" name="update" class="button button-positiv float-end"><?= Core::$_lang->getValue("translations", "save") ?></button>
			</div>
		</div>
	</form>
</div>
