/* input field colors */
/* button default colors */
/* button positiv colors */
/* button negativ colors */
/* main menu colors */
@font-face {
  font-family: "Comfortaa";
  src: url("../../fonts/Comfortaa-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Comfortaa-Light";
  src: url("../../fonts/Comfortaa-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Comfortaa-Bold";
  src: url("../../fonts/Comfortaa-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "FiraCode";
  src: url("../../fonts/FiraCode-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "FiraCode-Light";
  src: url("../../fonts/FiraCode-Light.ttf") format("truetype");
}
@font-face {
  font-family: "FiraCode-Bold";
  src: url("../../fonts/FiraCode-Bold.ttf") format("truetype");
}
* {
  box-sizing: border-box;
}

html {
  min-width: 758px !important;
}

body {
  background-color: #dedede;
  color: #222222;
  margin-bottom: 40px;
  font-family: Comfortaa, sans-serif;
  font-size: 0.9em;
}

main {
  padding: 20px 10px;
}

footer {
  position: fixed;
  z-index: 999;
  width: 100%;
  bottom: 0;
  padding: 10px;
  font-size: 0.8em;
  border-top: 1px solid #555555;
  color: #1cb5f1;
  background: linear-gradient(to bottom, #fefefe, #cccccc);
}

.content-block {
  padding: 20px;
  background-color: #cccccc;
  border-radius: 8px;
}

.cleaner {
  clear: both;
  width: 0;
  height: 0;
  overflow: hidden;
}

h1 {
  color: #1cb5f1;
  font-size: 2.2em;
  padding: 10px 15px;
}

h2 {
  color: #1cb5f1;
  font-size: 1.8em;
  padding: 10px 15px;
}

.hl {
  color: #1cb5f1;
}

/* START ui-elements */
.slide-left, .slide-right, #navigation * ul > li.has-children::after, .slide-up, .slide-down, #actor-menu .has-children::after, #navigation > ul > li.has-children::after {
  position: absolute;
  content: "";
  top: 50%;
  width: 0;
  height: 0;
  border-color: #222222;
}

.slide-left-inline, .slide-right-inline, .slide-up-inline, .slide-down-inline {
  position: relative;
  content: "";
  top: calc(50% - 0.3em);
  width: 0;
  height: 0;
  border-color: #222222;
}

.slide-down, #actor-menu .has-children::after, #navigation > ul > li.has-children::after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid;
}

.slide-up {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid;
}

.slide-right, #navigation * ul > li.has-children::after {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid;
}

.slide-left {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid;
}

.slide-down-inline {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid;
}

.slide-up-inline {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid;
}

.slide-right-inline {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid;
}

.slide-left-inline {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid;
}

/* END ui-elements */
/* START clickable */
a,
a:visited,
a:hover {
  color: #222222;
  text-decoration: none;
}

.button-link {
  display: inline-block !important;
  color: #222222;
  text-align: left !important;
  padding: 0 !important;
  margin: 0 !important;
  background-color: transparent !important;
  border: 0 !important;
}
.button-link:hover {
  color: #555555;
}

.button-negativ-flat, .button-negativ, .button-positiv-flat, .button-positiv, .button-default-flat, .button-default {
  font-family: Comfortaa, Helvetica, sans-serif;
  display: inline-block;
  font-size: 0.9em;
  padding: 4px 15px;
  border-radius: 4px;
}

.button-default {
  color: #222222;
  border: 1px solid #555555;
  background: linear-gradient(to bottom, #eeeeee, #aaaaaa);
}
.button-default:hover {
  background: linear-gradient(to bottom, #aaaaaa, #eeeeee);
}
.button-default:disabled {
  color: #7d7d7d !important;
}

.button-default-flat {
  color: #222222;
  border: 1px solid #555555;
  background-color: #dddddd;
}
.button-default-flat:hover {
  background-color: #eeeeee;
}
.button-default-flat:disabled {
  color: #7d7d7d !important;
  background-color: #666666 !important;
}

.button-positiv {
  color: #cccccc;
  border: 1px solid #555555;
  background: linear-gradient(to bottom, #47633d, #17330d);
}
.button-positiv:hover {
  background: linear-gradient(to bottom, #17330d, #47633d);
}
.button-positiv:disabled {
  color: #7d7d7d !important;
}

.button-positiv-flat {
  color: #cccccc;
  border: 1px solid #555555;
  background-color: #37532d;
}
.button-positiv-flat:hover {
  background-color: #47633d;
}
.button-positiv-flat:disabled {
  color: #7d7d7d !important;
  background-color: #17330d !important;
}

.button-negativ {
  color: #cccccc;
  border: 1px solid #555555;
  background: linear-gradient(to bottom, #642a2a, #340a0a);
}
.button-negativ:hover {
  background: linear-gradient(to bottom, #340a0a, #642a2a);
}
.button-negativ:disabled {
  color: #7d7d7d !important;
}

.button-negativ-flat {
  color: #cccccc;
  border: 1px solid #555555;
  background-color: #642a2a;
}
.button-negativ-flat:hover {
  background-color: #743a3a;
}
.button-negativ-flat:disabled {
  color: #7d7d7d !important;
  background-color: #420808 !important;
}

/* END clickable */
/* START dd-menu logic */
#navigation {
  position: relative;
  z-index: 100;
}
#navigation a {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  margin-right: 10px;
}
#navigation ul {
  width: fit-content;
  margin: 0;
  padding: 0;
}
#navigation li {
  position: relative;
  width: fit-content;
  list-style: none;
  margin: 0;
  padding: 0;
}
#navigation li:hover > ul {
  display: block;
}
#navigation li > ul {
  display: none;
  position: absolute;
}
#navigation li > ul > li > ul {
  top: -1px;
  left: 100%;
}
#navigation > ul > li {
  float: left;
  width: fit-content;
}
#navigation > ul > li.has-children::after {
  right: 10px !important;
}
#navigation > ul > li > ul {
  top: 100%;
  left: 0;
}
#navigation * ul > li {
  width: 100%;
}
#navigation * ul > li.has-children::after {
  right: 10px;
  top: calc(50% - 4px) !important;
}
#navigation * ul > li > a {
  display: block;
}

/* END dd-menu logic */
/* START dd-menu styling */
#navigation {
  background: linear-gradient(to bottom, #fefefe, #cccccc);
}
#navigation a {
  color: #222222;
  text-decoration: none;
}
#navigation a:hover {
  color: #555555;
}
#navigation li > ul {
  background-color: #cccccc;
  border: 1px solid #444444;
}
#navigation li > ul > li > a {
  font-size: 0.8em;
  padding: 8px 20px;
}
#navigation > ul > li {
  border-right: 1px solid #555555;
}
#navigation > ul > li > a {
  font-size: 1em;
  padding: 10px 20px;
}
#navigation * ul > li {
  display: block;
  border-bottom: 1px solid #444444;
}
#navigation * ul > li:last-child {
  border-bottom: 0;
}

/* END dd-menu styling */
/* START actor menu and login */
#actor-menu {
  float: right;
  z-index: 100;
}
#actor-menu menu {
  padding: 0;
  margin: 0;
}
#actor-menu menu li {
  width: 100%;
  border-bottom: 1px solid #444444;
}
#actor-menu menu li:last-child {
  border-bottom: 0;
}
#actor-menu menu li a {
  padding: 5px 10px;
  width: 100%;
}
#actor-menu form {
  background-color: #cccccc;
  padding: 5px 10px;
  margin: 0;
}
#actor-menu .menu-item {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 10px;
}
#actor-menu .form-row {
  margin-top: 10px;
}
#actor-menu .has-children::after {
  right: 10px !important;
}

#actor-menu-dropdown {
  position: absolute;
  display: none;
  right: 10px;
  background-color: #cccccc;
  border: 1px solid #444444;
}

/* END actor menu and login */
/* START formular styles */
form {
  background-color: #cccccc;
  padding: 15px 40px 5px 40px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}
form.minimized {
  display: inline-block;
  width: fit-content !important;
  height: fit-content;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}
form.was-validated select, form.was-validated input {
  padding-right: calc(1.5em + 0.75rem);
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
form.was-validated select:invalid, form.was-validated input:invalid {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  border-color: #dc3545;
}
form.was-validated select:valid, form.was-validated input:valid {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  border-color: #198754;
}
form div.row {
  margin-bottom: 10px;
}
form div.row > div.table-col {
  padding: 4px 0;
}
form label {
  display: block;
}
form input {
  color: #222222;
  background-color: #efefef;
  border: 1px solid #555555;
  border-radius: 2px;
  padding: 5px;
  width: 100%;
}
form input[type=submit] {
  padding: 6px 5px;
}
form input:disabled {
  color: #222222;
  background-color: #939393;
}
form input[type=checkbox] {
  color: #222222;
  background-color: #efefef;
  border: 1px solid #555555;
  margin-right: 10px;
}
form select {
  color: #222222;
  background-color: #efefef;
  border: 1px solid #555555;
  border-radius: 2px;
  padding: 9px 5px;
  width: 100%;
}
form select:disabled {
  color: #222222;
  background-color: #939393;
}

/* END formular styles */
/* START table styles */
table {
  border-collapse: collapse !important;
}
table th.table-col:last-child, table td.table-col:last-child {
  padding: 10px 10px 10px 10px;
}
table tr.table-col {
  padding: 10px 10px;
}

/* END table styles */
/* START tree table styles */
.tree-table {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.tree-table ul {
  list-style: none;
  line-height: 46px;
  margin: 0;
}
.tree-table ul li {
  position: relative;
}
.tree-table ul li::before {
  position: absolute;
  top: -7px;
  left: -15px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  height: 30px;
  width: 10px;
  content: "";
}
.tree-table ul li::after {
  position: absolute;
  bottom: 0;
  left: -15px;
  height: 100%;
  width: 10px;
  border-left: 2px solid white;
  content: "";
}
.tree-table ul li:last-child::after {
  display: none;
}

/* END tree table styles */
.pagination {
  width: fit-content;
  margin: 0 auto;
}

.list-group-item {
  color: #222222;
  background-color: #dedede;
  border-bottom-color: #555555;
}
.list-group-item.active {
  background: linear-gradient(to bottom, #eeeeee, #aaaaaa);
  border-color: #555555;
  text-transform: uppercase;
}

.modal-content {
  background-color: #dedede;
  border: 1px solid #555555;
}

/*# sourceMappingURL=styles.css.map */
