table {
    border-collapse: collapse !important;
}

table tbody {

}

table tr.table-row {

}

table th.table-col {
    padding: 10px 10px;
}

table td.table-col {
    padding: 10px 30px 10px 10px;
}

table th.table-col:last-child,
table td.table-col:last-child {
    padding: 10px 10px 10px 10px;
}