<?php
use system\Core;

$actor_role = Core::$_actor_role;
$this->set("title", "Benutzer-Typ bearbeiten");
$actor_type = $this->get("actor_type");
$protected = ( $actor_type->is_protected && !$actor_role->canUpdateALl() );
?>
<h1>Rolle bearbeiten</h1>
<div class="container-fluid">
	<form action="/actor-types/<?= $actor_type->id ?>" method="POST" class="needs-validation" novalidate>
		<div class="form-group row">
			<label for="name">Name</label>
			<input type="text" name="name" value="<?= escaped_html($actor_type->name) ?>" id="name"<?= ( $protected ) ? ' disabled' : '' ?> required />
			<div class="invalid-feedback"><?= Core::$_lang->getValue("error-messages", "name") ?></div>
		</div>
		<div class="form-group row">
			<div class="col-auto">
				<button type="submit" name="cancel" class="button button-default"><?= Core::$_lang->getValue("translations", "cancel") ?></button>
			</div>
			<div class="col"></div>
			<div class="col-auto">
				<button type="submit" name="update" class="button button-positiv"<?= ( $protected ) ? ' disabled' : '' ?>><?= Core::$_lang->getValue("translations", "save") ?></button>
			</div>
		</div>
	</form>
</div>
