<?php

use system\System;

$this->set("title", "Rollen");

$role_list = $this->get("result_list");
?>
<div class="container-fluid">
	<h1>Benutzer-Typen</h1>
	<table class="table table-dark table-striped">
		<tr>
			<th class="col-md-1">ID</th>
			<th>Name</th>
			<th class="col-md-2">Gesch&uuml;tzt</th>
			<th class="col-md-2 text-end">Optionen</th>
		</tr>
		<?php foreach( $role_list as $type ): ?>
			<tr>
				<td><?= escaped_html($type->id) ?></td>
				<td><?= escaped_html($type->name) ?></td>
				<td><?= ($type->is_protected) ? "Ja" : "Nein" ?></td>
				<td class="text-nowrap text-end">
					<a href="/actor-types/<?= $type->id ?>" class="button button-default"><?= System::$Core->lang->getValue("translations", "edit") ?></a>
					<a href="/actor-types/delete/<?= $type->id ?>" class="button button-negativ"><?= System::$Core->lang->getValue("translations", "delete") ?></a>
				</td>
			</tr>
		<?php endforeach; ?>
	</table>
</div>


