<?php
use lib\App;
use lib\classes\Language;

$lang = App::getInstance(Language::class);

$this->set("title", "Daten Verbindung erstellen");
$connections = $this->get("available_connections");
?>
<div class="container-fluid">
	<h1>Neue Verbindung anlegen</h1>
	<form action="/data-connections/create" method="POST" class="needs-validation" novalidate>
		<div class="form-group row">
            <div class="col-2">
                <label for="name">Name</label>
                <input type="text" name="name" value="" id="name" required />
                <div class="invalid-feedback"><?= $lang->getValue("error-messages", "name") ?></div>
            </div>
            <div class="col-2">
                <label for="db_name">Datenbank</label>
                <select id="db_name" name="db_name" onchange="getTables();">
                    <option value="">- Datenbank -</option>
                    <?php foreach( $connections as $conn_key ) { ?>
                        <option value="<?= $conn_key ?>"><?= $conn_key ?></option>
                    <?php } ?>
                </select>
                <div class="invalid-feedback"><?= $lang->getValue("error-messages", "name") ?></div>
            </div>
            <div class="col-2">
                <label for="table_name">Tabelle</label>
                <select id="table_name" name="table_name" onchange="getTableKeyColumns();" disabled>
                    <option value="">- Tabelle -</option>
                    <optgroup id="table_list" label="Available"></optgroup>
                </select>
                <div class="invalid-feedback"><?= $lang->getValue("error-messages", "name") ?></div>
            </div>
            <div class="col-2">
                <label for="table_col">Spalte</label>
                <select id="table_col" name="table_col" onchange="getTableColumns();" disabled>
                    <option value="">- Spalten -</option>
                    <optgroup id="column_key_list" label="Available"></optgroup>
                </select>
                <div class="invalid-feedback"><?= $lang->getValue("error-messages", "name") ?></div>
            </div>
            <div class="col-auto">
                <div>Spalten anbinden</div>
                <div id="column_list" style="min-height: 32px; width: 100%;"></div>
            </div>
            <div class="col-1" style="padding-top: 23px;">
                <button type="submit" name="create" class="button button-positiv float-end"><?= $lang->getValue("translations", "create") ?></button>
            </div>
		</div>
	</form>
</div>
<script>
    function getTables() {
        document.getElementById("column_list").innerHTML = "";
        let option_list = document.getElementById("table_list");
        let db_name = $("#db_name").val();
        $("#table_name").prop("disabled", true);
        $("#table_name").addClass("loading");
        $("#table_col").prop("disabled", true);
        option_list.innerHTML = "";

        if( db_name !== "" ) {
            $.ajax({
                type: "POST",
                url: "/ajax/get-tables/" + db_name,
                dataType: "json",
                success: function( response ) {
                    if( response.length > 0 ) {
                        for( let table of response ) {
                            let option = document.createElement("option");
                            option.value = table.table_name;
                            option.innerText = table.table_name;
                            option_list.appendChild(option);
                        }
                        $("#table_name").prop("disabled", false);
                        $("#table_name").removeClass("loading");
                    }
                },
                error: function() {
                    $("#table_name").removeClass("loading");
                }
            });
        }
    }

    function getTableKeyColumns() {
        document.getElementById("column_list").innerHtml = "";
        let option_list = document.getElementById("column_key_list");
        let db_name = $("#db_name").val();
        let table_name = $("#table_name").val();
        $("#table_col").prop("disabled", true);
        $("#table_col").addClass("loading");
        option_list.innerHTML = "";

        if( table_name !== "" && db_name !== "" ) {
            $.ajax({
                type: "POST",
                url: "/ajax/get-table-key-columns/" + db_name + "/" + table_name,
                dataType: "json",
                success: function( response ) {
                    if( response.length > 0 ) {
                        for( let column of response ) {
                            let option = document.createElement("option");
                            option.value = column.column_name;
                            option.innerText = column.column_name;
                            option_list.appendChild(option);
                        }
                        $("#table_col").prop("disabled", false);
                        $("#table_col").removeClass("loading");
                    }
                },
                error: function() {
                    $("#table_col").removeClass("loading");
                }
            });

        }
    }

    function getTableColumns() {
        let db_name = $("#db_name").val();
        let table_name = $("#table_name").val();
        let column_list = document.getElementById("column_list");
        column_list.innerHTML = "";
        column_list.classList.add("loading");
        if( table_name !== "" && db_name !== "" ) {
            $.ajax({
                type: "POST",
                url: "/ajax/get-table-columns/" + db_name + "/" + table_name,
                dataType: "json",
                success: function( response ) {
                    if( response.length > 0 ) {
                        for( let column of response ) {
                            let div = document.createElement("div");
                            div.className = "clearfix";
                            let checkbox_label = document.createElement("label");
                            checkbox_label.className="form-check-label float-end"
                            checkbox_label.setAttribute("for", column.column_name);
                            checkbox_label.innerText = column.column_name;
                            let checkbox = document.createElement("input");
                            checkbox.id = column.column_name;
                            checkbox.className = "form-check-input float-start";
                            checkbox.type = "checkbox";
                            checkbox.name = "data_columns[]";
                            checkbox.value = column.column_name;

                            div.appendChild(checkbox_label);
                            div.appendChild(checkbox);
                            column_list.appendChild(div);
                            column_list.classList.remove("loading");
                        }
                    }
                }
            });
        }
    }
</script>