/* START ui-elements */
%slider {
	position     : absolute;
	content      : "";
	top          : 50%;
	width        : 0;
	height       : 0;
	border-color : $text-color;
}

%slider-inline {
	position     : relative;
	content      : "";
	top          : calc(50% - 0.3em);
	width        : 0;
	height       : 0;
	border-color : $text-color;
}

.slide-down {
	@extend %slider;
	border-left  : 4px solid transparent;
	border-right : 4px solid transparent;
	border-top   : 4px solid;
}

.slide-up {
	@extend %slider;
	border-left   : 4px solid transparent;
	border-right  : 4px solid transparent;
	border-bottom : 4px solid;
}

.slide-right {
	@extend %slider;
	border-top    : 4px solid transparent;
	border-bottom : 4px solid transparent;
	border-left   : 4px solid;
}

.slide-left {
	@extend %slider;
	border-top    : 4px solid transparent;
	border-bottom : 4px solid transparent;
	border-right  : 4px solid;
}

.slide-down-inline {
	@extend %slider-inline;
	border-left  : 4px solid transparent;
	border-right : 4px solid transparent;
	border-top   : 4px solid;
}

.slide-up-inline {
	@extend %slider-inline;
	border-left   : 4px solid transparent;
	border-right  : 4px solid transparent;
	border-bottom : 4px solid;
}

.slide-right-inline {
	@extend %slider-inline;
	border-top    : 4px solid transparent;
	border-bottom : 4px solid transparent;
	border-left   : 4px solid;
}

.slide-left-inline {
	@extend %slider-inline;
	border-top    : 4px solid transparent;
	border-bottom : 4px solid transparent;
	border-right  : 4px solid;
}

/* END ui-elements */

/* START clickable */
a,
a:visited,
a:hover {
	color           : $text-color;
	text-decoration : none;
}

.button-link {
	display          : inline-block !important;
	color            : $text-color;
	text-align       : left !important;
	padding          : 0 !important;
	margin           : 0 !important;
	background-color : transparent !important;
	border           : 0 !important;

	&:hover {
		color : $text-hover-color;
	}
}


%button {
	font-family   : Comfortaa, Helvetica, sans-serif;
	display       : inline-block;
	font-size     : 0.9em;
	padding       : 4px 15px;
	border-radius : 4px;
}

.button-default {
	@extend %button;
	color      : $button-default-text-color;
	border     : 1px solid $button-default-border-color;
	background : linear-gradient(to bottom, $button-default-from-color, $button-default-to-color);

	&:hover {
		background : linear-gradient(to bottom, $button-default-to-color, $button-default-from-color);
	}

	&:disabled {
		color : $button-default-disabled-text-color !important;
	}
}

.button-default-flat {
	@extend %button;
	color            : $button-default-text-color;
	border           : 1px solid $button-default-border-color;
	background-color : $button-default-bg-color;

	&:hover {
		background-color : $button-default-hover-color;
	}

	&:disabled {
		color            : $button-default-disabled-text-color !important;
		background-color : $button-default-disabled-bg-color !important;
	}
}

.button-positiv {
	@extend %button;
	color      : $button-positiv-text-color;
	border     : 1px solid $button-positiv-border-color;
	background : linear-gradient(to bottom, $button-positiv-from-color, $button-positiv-to-color);

	&:hover {
		background : linear-gradient(to bottom, $button-positiv-to-color, $button-positiv-from-color);
	}

	&:disabled {
		color : $button-positiv-disabled-text-color !important;
	}
}

.button-positiv-flat {
	@extend %button;
	color            : $button-positiv-text-color;
	border           : 1px solid $button-positiv-border-color;
	background-color : $button-positiv-bg-color;

	&:hover {
		background-color : $button-positiv-hover-color;
	}

	&:disabled {
		color            : $button-positiv-disabled-text-color !important;
		background-color : $button-positiv-disabled-bg-color !important;
	}
}

.button-negativ {
	@extend %button;
	color      : $button-negativ-text-color;
	border     : 1px solid $button-negativ-border-color;
	background : linear-gradient(to bottom, $button-negativ-from-color, $button-negativ-to-color);

	&:hover {
		background : linear-gradient(to bottom, $button-negativ-to-color, $button-negativ-from-color);
	}

	&:disabled {
		color : $button-negativ-disabled-text-color !important;
	}
}

.button-negativ-flat {
	@extend %button;
	color            : $button-negativ-text-color;
	border           : 1px solid $button-negativ-border-color;
	background-color : $button-negativ-bg-color;

	&:hover {
		background-color : $button-negativ-hover-color;
	}

	&:disabled {
		color            : $button-negativ-disabled-text-color !important;
		background-color : $button-negativ-disabled-bg-color !important;
	}
}

/* END clickable */
