<?php

use lib\App;
use lib\core\classes\Language;
use lib\helper\HtmlHelper;

$lang = App::getInstanceOf(Language::class);

$this->set("title", "Zugriffstype erstellen");
?>
<div class="container-fluid">
	<h1>Zugriffstype erstellen</h1>
	<form action="/restrictions/types/create" method="POST" class="needs-validation" autocomplete="off" novalidate>
        <?= HtmlHelper::generateFormToken() ?>
		<div class="form-group row">
			<label for="name">Name</label>
			<input type="text" name="name" value="" id="name" required />
			<div class="invalid-feedback"><?= $lang->getValue("error-messages", "name") ?></div>
		</div>
		<div class="clearfix">
			<input type="checkbox" name="include_siblings" value="1" id="include_siblings" class="form-check-input float-start" />
			<label for="include_siblings" class="form-check-label float-start">Incl. gleicher Obergruppe</label>
		</div>
		<div class="clearfix">
			<input type="checkbox" name="include_children" value="1" id="include_children" class="form-check-input float-start" />
			<label for="include_children" class="form-check-label float-start">Incl. direkter Untergruppen</label>
		</div>
		<div class="clearfix">
			<input type="checkbox" name="include_descendants" value="1" id="include_descendants" class="form-check-input float-start" />
			<label for="include_descendants" class="form-check-label float-start">Incl. aller Untergruppen</label>
		</div>
		<div class="form-group row clearfix">
			<div class="col-auto">
				<a href="/restrictions/types" class="button button-default float-start"><?= $lang->getValue("translations", "cancel") ?></a>
			</div>
			<div class="col"></div>
			<div class="col-auto">
				<button type="submit" name="create" class="button button-positiv float-end"><?= $lang->getValue("translations", "create") ?></button>
			</div>
		</div>
	</form>
</div>
