<?php
global $lang;
$this->set("title", "Zugriffstype bearbeiten");
$type = $this->get("type");
?>
<div class="container-fluid">
	<h1>Zugriffstype bearbeiten</h1>
	<form action="/restrictions/types/<?= $type->id ?>" method="POST" class="needs-validation" autocomplete="off" novalidate>
		<div class="form-group row">
			<label for="email">Name</label>
			<input type="text" name="name" value="<?= escaped_html($type->name) ?>" id="email" required />
			<div class="invalid-feedback"><?= escaped_html($lang["required"]["name"]) ?></div>
		</div>
		<div class="form-group row">
			<label for="first_name">Incl. gleicher Obergruppe</label>
			<input type="checkbox" name="include_siblings" value="1" id="include_siblings"<?= ($type->include_siblings === 1 ) ? ' checked': ''?> />
		</div>
		<div class="form-group row">
			<label for="first_name">Incl. direkter Untergruppen</label>
			<input type="checkbox" name="include_children" value="1" id="include_children"<?= ($type->include_children === 1 ) ? ' checked': ''?> />
		</div>
		<div class="form-group row">
			<label for="first_name">Incl. aller Untergruppen</label>
			<input type="checkbox" name="include_descendants" value="1" id="include_descendants"<?= ($type->include_descendants === 1 ) ? ' checked': ''?> />
		</div>
		<div class="form-group row clearfix">
			<div class="col-auto">
				<button type="submit" name="cancel" class="button button-default float-start"><?= escaped_html($lang["cancel"]) ?></button>
			</div>
			<div class="col"></div>
			<div class="col-auto">
				<button type="submit" name="update" class="button button-positiv float-end"><?= escaped_html($lang["save"]) ?></button>
			</div>
		</div>
	</form>
</div>
