$bg-color                           : #222222;
$text-color                         : #cccccc;
$text-hover-color                   : #ffffff;
$header-color                       : #1cb5f1;
$border-color                       : #555555;
$container-bg-color                 : #2c2c2c;

$input-bg-color                     : #383838;
$input-border-color                 : #555555;
$input-disabled-bg-color            : #282828;
$input-disabled-text-color          : #7d7d7d;
$input-valid-color                  : #198754;
$input-invalid-color                : #dc3545;

$button-border-color                : #555555;
$button-disabled-text-color         : #222222;
$button-positiv-color               : #37532d;
$button-positiv-hover-color         : #47633d;
$button-negativ-color               : #642a2a;
$button-negativ-hover-color         : #743a3a;
$button-positiv-disabled-bg-color   : #17330d;
$button-positiv-disabled-text-color : #7d7d7d;

$button-default-from-color          : #444444;
$button-default-to-color            : #111111;
$button-positiv-from-color          : #47633d;
$button-positiv-to-color            : #17330d;
$button-negativ-from-color          : #642a2a;
$button-negativ-to-color            : #340a0a;

$menu-bg-from-color                 : #444444;
$menu-bg-to-color                   : #222222;
$menu-border-color                  : #000000;
$menu-submenu-border-color          : #444444;

