<?php

use lib\core\System;

$actor = $this->get("actor");
?>
<div>
	<div class="row">
		<div class="col"><?= App::getInstance(Language::class)->getValue("translations", "first_name") ?></div>
        <div class="col"><?= $actor->first_name ?></div>
	</div>
	<div class="row">
		<div class="col"><?= App::getInstance(Language::class)->getValue("translations", "last_name") ?></div>
		<div class="col"><?= $actor->last_name ?></div>
	</div>
	<div class="row">
		<div class="col"><?= App::getInstance(Language::class)->getValue("translations", "email") ?></div>
		<div class="col"><?= $actor->email ?></div>
	</div>
	<div class="row">
		<div class="col"><?= App::getInstance(Language::class)->getValue("translations", "created") ?></div>
		<div class="col"><?= $actor->created ?></div>
	</div>
</div>
