<?php

use lib\core\classes\TemplateData;

TemplateData::set("title", "Welcome");

$this->addHeaderScript(PATH_SRC . "chart/dist/chart.min.js");
?>
<div style="width: 640px; height: 480px;">
    <canvas id="myChart" width="640px" height="480px"></canvas>
</div>
<script>
    const ctx = document.getElementById('myChart').getContext('2d');

    const labels = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug"];
    const lineColors = ["rgba(0, 180, 0, 1)", "rgba(0, 0, 180, 1)"];
    const fillColors = ["rgba(0, 180, 0, 0.2)", "rgba(0, 0, 180, 0.2)"];

    let data_labels = ["Current", "Last"];

    let data_array = [
        [10, 30, 39, 20, 25, 34, 14, 21],
        [18, 33, 22, 19, 11, 39, 30, 25]
    ];

    data_sets = [];
    for (let i = 0; i < data_array.length; i++) {
        data_sets[i] = {
            label: data_labels[i],
            data: data_array[i],
            borderColor: lineColors[i],
            backgroundColor: fillColors[i],
            fill: true
        }
    }

    const data = {
        labels: labels,
        datasets: data_sets
    };

    const options = {
        responsive: true,
        plugins: {
            title: {
                display: true,
                text: 'Suggested Min and Max Settings',
                color: "white"
            },
            legend: {
                display: true,
                labels: {
                    color: "white",
                    font: {size: 16}
                }
            }
        },
        scales: {
            x: {
                ticks: {
                    color: "white"
                }
            },
            y: {
                ticks: {
                    color: "white"
                },
                suggestedMin: 0
            }
        }
    };

    const config = {
        type: 'line',
        data: data,
        options: options
    };

    const myChart = new Chart(ctx, config);
</script>