<?php

use lib\App;
use lib\core\classes\TemplateData;
use lib\helper\DateHelper;

$distance = TemplateData::get('distance');
$timespan = TemplateData::get('timespan');
$currency = TemplateData::get('currency');
$coord = App::$request->get("coord");
?>
<div class="container-fluid">
    <h1>Math Helper</h1>
    <div class="row">
        <div class="col-4">
            <h2>Entfernungsberechnung</h2>
            <form action="/tests/math" method="POST">
                <div>Coordinate 1</div>
                <div class="row">
                    <div class="col">
                        <label for="long_1">Longitude</label>
                        <input id="long_1" type="text" name="coord[0][long]" value="<?= ($coord !== null) ? $coord[0]["long"] : "" ?>" required="required"/>
                    </div>
                    <div class="col">
                        <label for="lat_1">Latitude</label>
                        <input id="lat_1" type="text" name="coord[0][lat]" value="<?= ($coord !== null) ? $coord[0]["lat"] : "" ?>" required="required"/>
                    </div>
                </div>

                <div>Coordinate 2</div>
                <div class="row">
                    <div class="col">
                        <label for="long_2">Longitude</label>
                        <input id="long_2" type="text" name="coord[1][long]" value="<?= ($coord !== null) ? $coord[1]["long"] : "" ?>" required="required"/>
                    </div>
                    <div class="col">
                        <label for="lat_2">Latitude</label>
                        <input id="lat_2" type="text" name="coord[1][lat]" value="<?= ($coord !== null) ? $coord[1]["lat"] : "" ?>" required="required"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">Distance</div>
                    <div class="col"><?= $distance ?></div>
                </div>
                <div>
                    <div class="col" style="padding-top: 21px;">
                        <input type="submit" name="distance" value="Berechnen" class="button-default"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-4">
            <h2>Zeitberechnung</h2>
            <form action="/tests/math" method="POST">
                <div class="row">
                    <label for="start_date">Start Datum</label>
                    <input id="start_date" type="date" name="start_date" value="<?= App::$request->get("start_date") ?>" required="required"/>
                </div>
                <div class="row">
                    <label for="end_date">End Datum</label>
                    <input id="end_date" type="date" name="end_date" value="<?= App::$request->get("end_date") ?>" required="required"/>
                </div>
                <div class="row row">
                    <div class="col">Zeitraum</div>
                    <div class="col"><?= ($timespan === null) ? "" : DateHelper::getFormattedTimespan($timespan) ?>
                    </div>
                </div>
                <div>
                    <div class="col" style="padding-top: 21px;">
                        <input type="submit" name="timespan" value="Berechnen" class="button-default"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-4">
            <h2>W&auml;hrungsumwandlung</h2>
            <form action="/tests/math" method="POST">
                <div class="row">
                    <label for="numeric-value">Numerischer Wert</label>
                    <input id="numeric-value" type="text" name="numeric_value" value="<?= App::$request->get("numeric_value") ?>" required="required"/>
                </div>
                <div class="row row">
                    <div class="col">Als W&auml;hrung</div>
                    <div class="col"><?= $currency ?? "" ?></div>
                </div>
                <div>
                    <div class="col" style="padding-top: 21px;">
                        <input type="submit" name="currency" value="Berechnen" class="button-default"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>