<?php

use lib\helper\HtmlHelper;
use lib\helper\ValidationHelper;

$value = $_POST['value'] ?? '';
?>
<div class="container-fluid">
    <form action="\tests/validator" method="POST">
        <?= HtmlHelper::generateFormToken() ?>
        <div class="row">
            <div class="col">
                <label for="input">Input</label>
                <input id="input" type="text" name="value" value="<?= escaped_string($value) ?>"/>
            </div>
            <div class="col-1" style="padding-top: 21px;">
                <input type="submit" name="check" value="check" class="button-default"/>
            </div>
        </div>
    </form>
    <?php if( isset($_POST['check']) && $value !== "" ) {
        $check["is valid Integer"] = ValidationHelper::isValidInteger($value);
        $check["is valid Numeric"] = ValidationHelper::isValidNumeric($value);
        $check["is valid E-Mail"] = ValidationHelper::isValidEmail($value);
        $check["is valid Street"] = ValidationHelper::isValidStreet($value);
        $check["is valid Street Nr."] = ValidationHelper::isValidStreetNr($value);
        $check["is valid Zipcode"] = ValidationHelper::isValidZipcode($value);
        $check["is valid City"] = ValidationHelper::isValidCity($value);
        $check["is valid Password"] = ValidationHelper::isValidPassword($value);
        ?>
        <h3>Eingabe: <?= escaped_string($value) ?></h3>
        <table class="table table-dark table-striped">
            <tr>
                <th>Bedingung</th>
                <th>Ergebnis</th>
            </tr>
            <?php foreach( $check as $key => $result ) { ?>
                <tr>
                    <td><?= $key ?></td>
                    <td class="col-1"
                        style="color: <?= ($result) ? 'green' : 'red' ?>;"><?php print_debug($result) ?></td>
                </tr>
            <?php } ?>
        </table>
    <?php } ?>
</div>