<?php

use lib\core\System;

global $lang;
$this->set("title", "Rolle erstellen");

$role_option = $this->get("option_list");
?>
<div class="container-fluid">
	<h1>Neue Rolle anlegen</h1>
	<form action="/actor-roles/create" method="POST" class="needs-validation" novalidate>
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" name="name" value="" id="name" required />
			<div class="invalid-feedback"><?= System::$Core->lang->getValue("error-messages", "name") ?></div>
		</div>
		<div class="form-group">
			<label for="child_of">Unterrolle von</label>
			<select name="child_of" id="child_of">
				<option value="">- keine -</option>
				<?php foreach( $role_option as $role ): ?>
					<option value="<?= $role->id ?>"><?= escaped_html($role->name) ?></option>
				<?php endforeach; ?>
			</select>
		</div>
		<table>
			<tr class="table-row">
				<td class="table-col align-top">
					<div>Rechte: Alles</div>
				</td>
				<td class="table-col align-top">
					<div class="clearfix">
						<input type="checkbox" name="all[read]" value="x" id="all_read" class="form-check-input float-start" />
						<label for="all_read" class="form-check-label float-end"><?= System::$Core->lang->getValue("translations", "read") ?></label>
					</div>
					<div class="clearfix">
						<input type="checkbox" name="all[create]" value="x" id="all_create" class="form-check-input float-start" />
						<label for="all_create" class="form-check-label float-end"><?= System::$Core->lang->getValue("translations", "create") ?></label>
					</div>
					<div class="clearfix">
						<input type="checkbox" name="all[update]" value="x" id="all_update" class="form-check-input float-start" />
						<label for="all_update" class="form-check-label float-end"><?= System::$Core->lang->getValue("translations", "update") ?></label>
					</div>
					<div class="clearfix">
						<input type="checkbox" name="all[delete]" value="x" id="all_delete" class="form-check-input float-start" />
						<label for="all_delete" class="form-check-label float-end"><?= System::$Core->lang->getValue("translations", "delete") ?></label>
					</div>
				</td>
			</tr>
			<tr class="table-row">
				<td class="table-col align-top">
					<div>Rechte: Gruppe</div>
					<div class="text-nowrap">(incl. Untergruppen)</div>
				</td>
				<td class="table-col align-top">
					<div class="clearfix">
						<input type="checkbox" name="group[read]" value="x" id="group_read" class="form-check-input float-start" />
						<label for="group_read" class="form-check-label float-end"><?= System::$Core->lang->getValue("translations", "read") ?></label>
					</div>
					<div class="clearfix">
						<input type="checkbox" name="group[create]" value="x" id="group_create" class="form-check-input float-start" />
						<label for="group_create" class="form-check-label float-end"><?= System::$Core->lang->getValue("translations", "create") ?></label>
					</div>
					<div class="clearfix">
						<input type="checkbox" name="group[update]" value="x" id="group_update" class="form-check-input float-start" />
						<label for="group_update" class="form-check-label float-end"><?= System::$Core->lang->getValue("translations", "update") ?></label>
					</div>
					<div class="clearfix">
						<input type="checkbox" name="group[delete]" value="x" id="group_delete" class="form-check-input float-start" />
						<label for="group_delete" class="form-check-label float-end"><?= System::$Core->lang->getValue("translations", "delete") ?></label>
					</div>
				</td>
			</tr>
			<tr class="table-row">
				<td class="table-col align-top">
					<div>Rechte: Eigene</div>
				</td>
				<td class="table-col align-top">
					<div class="clearfix">
						<input type="checkbox" name="own[read]" value="x" id="own_read" class="form-check-input float-start" />
						<label for="own_read" class="form-check-label float-end"><?= System::$Core->lang->getValue("translations", "read") ?></label>
					</div>
					<div class="clearfix">
						<input type="checkbox" name="own[create]" value="x" id="own_create" class="form-check-input float-start" />
						<label for="own_create" class="form-check-label float-end"><?= System::$Core->lang->getValue("translations", "create") ?></label>
					</div>
					<div class="clearfix">
						<input type="checkbox" name="own[update]" value="x" id="own_update" class="form-check-input float-start" />
						<label for="own_update" class="form-check-label float-end"><?= System::$Core->lang->getValue("translations", "update") ?></label>
					</div>
					<div class="clearfix">
						<input type="checkbox" name="own[delete]" value="x" id="own_delete" class="form-check-input float-start" />
						<label for="own_delete" class="form-check-label float-end"><?= System::$Core->lang->getValue("translations", "delete") ?></label>
					</div>
				</td>
			</tr>
		</table>
		<div class="form-group row">
			<div class="col"></div>
			<div class="col-auto">
				<button type="submit" name="create" class="button button-positiv float-end"><?= System::$Core->lang->getValue("translations", "create") ?></button>
			</div>
		</div>
	</form>
</div>
