<?php

use lib\core\System;

$role = $this->get("role");
?>

<form action="/actor-roles/delete/<?= $role->id ?>" method="POST">
	<?php if( $role->is_protected ) { ?>
		<div>Die Rolle <?= escaped_html($role->name) ?> ist gesch&uuml;tzt und kann nicht gel&ouml;scht werden!!!</div>
		<div class="form-group row">
			<div class="col-auto">
				<button type="submit" name="cancel" class="button button-default"><?= System::$Core->lang->getValue("translations", "cancel") ?></button>
			</div>
			<div class="col"></div>
			<div class="col-auto"> </div>
		</div>
	<?php } else { ?>
		<div>Soll die Rolle <?= escaped_html($role->name) ?> wirklich gel&ouml&ouml;scht werden?</div>
		<div class="form-group row">
			<div class="col-auto">
				<button type="submit" name="cancel" class="button button-default"><?= System::$Core->lang->getValue("translations", "cancel") ?></button>
			</div>
			<div class="col"></div>
			<div class="col-auto">
				<button type="submit" name="delete" class="button button-negativ"><?= System::$Core->lang->getValue("translations", "delete") ?></button>
			</div>
		</div>
	<?php }?>
</form>
